<div class="row justify-content-center pt-5 main">
  <div class="d-flex m-5" *ngFor="let cservice of cservices"
  [class.selected]="cservice === isSelected"
  (click)="select(cservice)">

    <div class="card-top">
      <img src="http://res.cloudinary.com/e1ectrof0x/image/upload/{{cservice.name}}" alt="Logo" class="round">
    </div>

  </div>
  <div class="d-flex m-5 card-add-button">
    <button (click)="isPost = !isPost">Add service</button>
  </div>
</div>

<app-card-post-form [isPost]="isPost" (post)="postCService($event)" (isPostChange)="isPost = false"></app-card-post-form>
<app-card-detail [wallets]="wallets" [cservice]="isSelected" (delete)="delete($event)" (subscribe)="subscribe($event)" ></app-card-detail>

