<div *ngIf="cservice">

  <div class="popup" (click)="cservice=null">

      <div class="popup-content">


          <div class="popup-content-details">
            <h3>Description:</h3>
            <h5>Service name: {{cservice.name}}</h5>
            <h5>Genre: {{cservice.genre}}</h5>
            <h5>Cost: <span class="cost-span">{{cservice.cost}}$</span>/mo</h5>
            <div class="d-flex justify-content-between">
              <button class="btn btn-warning" (click)="onSubscribe(cservice)">Subscribe</button>
              <button class="btn btn-primary mr-1" (click)="onDelete(cservice)">Delete</button>
            </div>
          </div>


      </div>

  </div>

</div>
