<div *ngIf="cservice">

  <div class="popup">

      <div class="popup-content">


          <div class="popup-content-details">
            <h3>Description:</h3>
            <h5>Service name: {{cservice.name}}</h5>
            <h5>Genre: {{cservice.genre}}</h5>
            <h5>Cost: <span class="cost-span">{{cservice.cost}}$</span>/mo</h5>
            <div class="d-flex justify-content-between">
              <div>
                <button class="btn btn-warning mt-1" (click)="onSubscribe(cservice)">Subscribe</button>
                <select class="ml-2 mt-1" name="wallets" [(ngModel)]="_activeWallet" *ngIf="isWallets()">
                  <option *ngFor="let wallet of _wallets" [ngValue]="wallet">{{wallet.amount}}$</option>
                </select>
                <div class="invalid" *ngIf="!_canSubscribe">
                  <span>Add at least one wallet in your account-page</span>
                </div>
              </div>
              <div>
                <button class="btn btn-primary mr-1 mt-1" (click)="onDelete(cservice)" *ngIf=this.isAdmin()>Delete</button>
                <button class="btn btn-primary mr-1 mt-1" (click)="onClose()">Close window</button>
              </div>
            </div>
          </div>


      </div>

  </div>

</div>
