label {
  color: #000000;
}

.reg-text {
  font-size: small;
  color: #000000;
}

.container {
  padding-top: 300px;
}

.login-btn {
  background-color: rgb(255, 180, 180);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 120, 120);
}
